#modal-content {
    width: 800px;
    margin-left: -100px;
}
#modal-dhchitiet {
    width: 800px;
    margin-left: -100px;
}
.top-bar {
    background-color: #f74877;
}
.right-top-bar a {
    color: white;
}
.right-top-bar a:hover {
    color: #910843;
}

#dropdown-menu {
    z-index: 9999;
    padding-left: 10px;
}
#dropdown-menu li a {
      padding-bottom: 5px;
      font-size: 14px;
      color: #f74877 ;
  }
#dropdown-menu li a:hover {
    color: #0b93d5;
;
}




#tensp {
    color: #333;
}
#tensp:hover {
    color: #288ad6;
}
.mtext-106 {
    font-family: "Times New Roman";
    color: #666666;
    /*font-weight: bold;*/
}
#addtocard .bg1 {
    background-color: #f74877 ;
}
#addtocard .bg1:hover {
    background-color: rgba(191, 7, 88, 0.88);
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#style-1::-webkit-scrollbar-thumb {
    background-color: #283f80;
}
#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}